<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Admin home page</h1>

<a href="/myapp/viewdoctors/">View Doctors</a><br>
<a href="/myapp/viewapproveddoctor/">View Approved Doctors</a><br>
<a href="/myapp/viewrejecteddoctors/">View Rejected Doctors</a><br>
<a href="/myapp/viewusers/">View Users</a><br>
<a href="/myapp/viewreviews/">View Reviews</a><br>
<a href="/myapp/changepassword/">Change Password</a>


</body>
</html>