{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'user/userindex.html' %}#}
{#{% block body %}#}
{#<body><form action="/myapp/uploadimage/" method="post">#}
{#    {% csrf_token %}#}
{#<table class="table table-bordered table-striped table-hover">#}
{#        <thead class="thead-dark">#}
{#        <tr>#}
{#    <th class="text-center">Upload File Here</th>#}
{#    <td><input type="file" name="textfield" id="textfield" /></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td><input type="submit" name="button" id="button" value="Upload" class="btn btn-warning"/></td>#}
{#  </tr>#}
{#        </thead>#}
{#</table>#}
{##}
{#</form>#}
{#</body>#}
{#{% endblock %}#}
{#</html>#}
{% extends 'doctor/doctorindex.html' %}

{% block body %}
    <form action="/myapp/druploadimage_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-header text-center bg-primary text-white">
                        <h3>Upload File</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="textfield" class="text-dark">Upload File Here:</label>
                            <input type="file" name="image" id="textfield" required class="form-control border-primary" />
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" name="button" id="button" required value="Upload" class="btn btn-success" />
                        </div>
                        <div class="mt-3">
                            <h2 class="text-info">Result is: {{ result }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{#<form action="/myapp/druploadimage_post/" method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    <div class="container mt-5">#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-6">#}
{#                <div class="card">#}
{#                    <div class="card-header text-center">#}
{#                        <h3>Upload File</h3>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <div class="form-group">#}
{#                            <label for="textfield">Upload File Here:</label>#}
{#                            <input type="file" name="image" id="textfield" required class="form-control" />#}
{#                        </div>#}
{#                        <div class="form-group text-center">#}
{#                            <input type="submit" name="button" id="button" required value="Upload" class="btn btn-warning" />#}
{#                        </div>#}
{#                        <div>#}
{#                            <h2>Result is :{{ result }}#}
{#                            </h2></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</form>#}
{% endblock %}

