{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'doctor/doctorindex.html' %}
{% block body %}
<body>
<form action="/myapp/dr_viewappoinment_post/" method="post">
    {% csrf_token %}
  <div class="row mb-2">
        <div class="pull-left">
          <input type="text" name="textfield" id="textfield" class="form-control" required placeholder="Search by name or specialization"/>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-warning" id="button" style="font-size: 16px; padding: 10px 20px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); transition: all 0.3s ease;">Search</button>
        </div>
      </div>

      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
    <tr>
      <th class="text-center">Sno</th>
      <th class="text-center">Name</th>
      <th class="text-center">Registration Date</th>
    </tr>
        </thead>
      {% for i in doc %}

    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
        <td>{{ i.USER.name }}<br>
      {{ i.USER.gender }}<br>
      {{ i.USER.dob }}<br>{{ i.USER.email }}<br>
      {{ i.USER.phone }}<br>{{ i.USER.housename }}<br>{{ i.USER.place }}<br>
          {{ i.USER.city }}<br>{{ i.USER.state }}<br>{{ i.USER.pincode }}<br></td>
      <td>{{ i.registrationDate }}</td>
      <td><a href="/myapp/addprescription/{{ i.id }}" class="btn btn-success">Upload Prescription</a></td>
    </tr>

      {% endfor %}

  </table>
</form>
</body>
{% endblock %}
{#</html>#}
