<!doctype html>
<html lang="en">
  <head>
  	<title>Sign Up 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/signup/css/bootstrap.min.css">

	<link rel="stylesheet" href="/static/signup/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
            <div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
                    <h1 class="heading-section"><b>Register as User</b></h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end" style="background-image: url(/static/signup/images/bg.jpg);">
							<div class="text w-100">
								<h2 class="mb-4">Welcome</h2>
								<p>To the new way of Predicting Brain Tumor using AI !!!</p>
							</div>
			      </div>
						<div class="login-wrap p-4 p-md-5">
	      			<h3 class="mb-3">Create an account</h3>
							<form action="/myapp/us_signup_post/" method="post" class="signup-form">
                                {% csrf_token %}
								<div class="row">
									<div class="col-md-12">
										<div class="form-group first">
					      			<label for="fullname">Full Name</label>
                <input type="text" class="form-control" required id="textfield" name="textfield">

              </div>
                <div class="form-group first">
                    <label>Gender</label><br>
               <label for="RadioGroup1_0">
          <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" />
          Male</label><br>
            <label for="RadioGroup1_1">
          <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" />
          Female</label><br>
                    <label for="RadioGroup1_2">
          <input type="radio" name="RadioGroup1" value="others" id="RadioGroup1_2" />
          others</label>
              </div>

              <div class="form-group">
                <label for="textfield2">Date Of Birth</label>
                <input type="date" class="form-control" required id="textfield2" name="textfield2">

              </div>
                <div class="form-group">
                <label for="textfield3">Email</label>
                <input type="email" class="form-control" required id="textfield3" name="textfield3">
                </div>
                <div class="form-group">
                <label for="textfield4">Phone</label>
                <input type="tel" class="form-control" required id="textfield4" name="textfield4">
                    </div>
                    <div class="form-group">
                <label for="textfield5">HouseName</label>
                <input type="text" class="form-control" required id="textfield5" name="textfield5">
                        </div>
                        <div class="form-group">
                <label for="textfield6">Place</label>
                <input type="text" class="form-control" required id="textfield6" name="textfield6">
                            </div>
                            <div class="form-group">
                <label for="textfield7">City</label>
                <input type="text" class="form-control" required id="textfield7" name="textfield7">
                                </div>
                                <div class="form-group">
                <label for="textfield8">State</label>
                <input type="text" class="form-control" required id="textfield8" name="textfield8">
                                    </div>
                                    <div class="form-group">
                <label for="textfield9">Pincode</label>
                <input type="text" class="form-control" required id="textfield9" name="textfield9">
                                        </div>
{#                                        <div class="form-group">#}
{#                <label for="textfield10">Photo</label>#}
{#                <input type="file" class="form-control" required id="textfield10" name="textfield10">#}
{#              </div>#}
              <div class="form-group">
                <label for="textfield11">Password</label>
                <input type="password" class="form-control" required id="textfield11" name="textfield11">

              </div>
              <div class="form-group last mb-4">
                <label for="textfield12">Re-type Password</label>
                <input type="password" class="form-control" required id="textfield12" name="textfield12">

              </div>
									</div>
									<div class="col-md-12 my-4">
										<div class="form-group">
				            	<div class="w-100">
					            	<label class="checkbox-wrap checkbox-primary">I agree all statements in terms of service
												  <input type="checkbox" required>
												  <span class="checkmark"></span>
												</label>
											</div>
				            </div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
				            	<button type="submit" class="btn btn-secondary submit p-3">Create an account</button>
				            </div>
									</div>
								</div>

		          </form>
		          <div class="w-100 text-center">
								<p class="mt-4">I'm already a member! <a href="/myapp/login/">Log In</a></p>
		          </div>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/signup/js/jquery.min.js"></script>
  <script src="/static/signup/js/popper.js"></script>
  <script src="/static/signup/js/bootstrap.min.js"></script>
  <script src="/static/signup/js/main.js"></script>

	</body>
</html>

